/* Design for phones first: */

* {
  font-family: "Thasadith", sans-serif;
  font-weight: 400;
  color: #222;
}
h1,
h2 {
  font-family: "Major Mono Display", monospace;
  color: #7ebc89;
}

body {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

.main,
.done {
  width: 100%;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: #7ebc89;
  transition: ease-in-out 0.1s;
  color: white;
  padding: 0.2rem 0.5rem;
  text-align: center;
  border: none;
  font-size: 1rem;
  border-radius: 6px;
}

.button:hover {
  background-color: #5c8964;
}

input[type="text"] {
  border-radius: 10px;
  border: 1px solid #7ebc89;
  width: calc(140 * 1em);
  padding-left: 6px;
}

.todoZone > * {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-top: 1rem;
}

.todoZone {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 420px;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

li {
  animation: slide-up 0.4s ease;
  display: flex;
  align-items: center;
}

.check {
  display: flex;
  align-items: center;
}

li > input {
  margin-right: 1em;
}

ul#todo,
ul#done {
  list-style-type: none;
  width: 420px;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  border-bottom: 1px solid #7ebc89;
  transition: ease-in-out 0.1s;
}

a:hover {
  border-bottom: 1px solid #5c8964;
}

li.priority {
  color: #f2c078 !important;
}

/* Edit for desktop */

@media only screen and (min-width: 786px) {
  .main {
    max-width: 60%;
  }
}
